.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
}
.logo img {
  width: 150px;
}

.site-layout .site-layout-background {
  background: #fff;
}
.sidebar {
  height: auto;
}
.header {
  display: flex;
  justify-content: space-between;
}

.ant-menu-item a {
  color: rgba(255, 255, 255, 0.65);
}
.ant-menu-item-selected a {
  color: white !important;
}
